html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
.head {
      position: fixed;
      background-color: rgba(255, 182, 193, 0.678);
      top: 0%;
      left: 0%;
      right: 0%;
      height: 15%;
}

h1{
    text-align: center;
    text-shadow: 3px 3px 7px #707070;
    color: rgba(51, 65, 255, 0.884);
}
.alpha{
    margin: 5px;
    padding:10px ;
    background-color: rgb(255, 0, 212);

}
.alpha a{
    display: inline;
    border: 1px solid;
    border-color: rgb(55, 0, 255);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
   position: relative;
   text-decoration: none;
}
.alpha a:hover {
    background-color: rgb(38, 0, 255);
    border: 2px;
    padding: 20px;
    
}
.alpha a:active {
    background-color: rgb(38, 0, 255);
    border: 2px;
    padding: 15px;
}
 img{
   margin-right: 25%;
   margin-left: 25%;
   padding-top: 9%;
}

